<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/">SoundCache</a>
        <div class="d-flex">
            <a class="me-4" href="/" style="text-decoration: none; color: black">Search</a>
            <% if (currentUser) { %>
            <a class="me-4" href="/collections" style="text-decoration: none; color: black">My Collections</a>
            <form id="logOut" action="/sessions?_method=DELETE" method="POST">
                <a href="#" class="me-4" onclick="document.getElementById('logOut').submit()" style="text-decoration: none; color: black">Log Out</a>
                <!-- <input type="submit" value="Log Out" style="border: none; background-color: none;" /> -->
            </form>
            <% } else { %>
            <a class="me-4" href="/sessions/new" style="text-decoration: none; color: black">Log In</a>
            <% } %>
        </div>
    </div>
</nav>