<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <%- include ('../partials/nav.ejs') %>
        <div class="container text-center">
            <h1 class="title pt-5">Create Collection</h1>
            <div class="pt-4">
                <form action="/create" method="POST">
                    <input class="mb-2" type="text" name="collectionName" placeholder="Name Your Collection" /><br/>
                    <input class="mb-2" type="text" name="collectionImage" placeholder="Link a Cover Photo" /><br/>
                    <input class="btn btn-success mb-2 mt-3" type="submit" value="Create Collection"/>
                </form>
            </div>
        </div>
    </body>
</html>