<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1> SoundCache</h1>
            <form>
                <input type="text" placeholder="keyword"/>
                <input type="submit" value="Get Samples!" />
            </form>

            <div class="row">

            </div>


            <!-- <dl>
                <dt>Name</dt>
                <dd id="name"></dd>
            
                <dt>Preview</dt>
                <audio controls id="preview"
                src=""></audio>
                <dd id="preview"></dd>

            </dl> -->
        </div>
    </body>
</html>